@import "tailwindcss";

@theme {
  --color-surface: #f8f9ff;
  --color-on-tertiary-container: #fbfdff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface-variant: #3d4947;
  --color-on-secondary-container: #5c647a;
  --color-surface-container: #e5eeff;
  --color-on-background: #0b1c30;
  --color-background: #f8f9ff;
  --color-on-secondary-fixed: #131b2e;
  --color-on-primary: #ffffff;
  --color-secondary: #565e74;
  --color-on-primary-fixed-variant: #005049;
  --color-secondary-fixed-dim: #bec6e0;
  --color-on-secondary-fixed-variant: #3f465c;
  --color-tertiary: #595c5e;
  --color-on-primary-container: #f4fffc;
  --color-error: #ba1a1a;
  --color-primary: #00685f;
  --color-on-surface: #0b1c30;
  --color-surface-dim: #cbdbf5;
  --color-primary-fixed-dim: #6bd8cb;
  --color-inverse-on-surface: #eaf1ff;
  --color-secondary-fixed: #dae2fd;
  --color-on-error: #ffffff;
  --color-surface-container-high: #dce9ff;
  --color-surface-bright: #f8f9ff;
  --color-on-primary-fixed: #00201d;
  --color-on-tertiary: #ffffff;
  --color-inverse-surface: #213145;
  --color-secondary-container: #dae2fd;
  --color-error-container: #ffdad6;
  --color-surface-variant: #d3e4fe;
  --color-surface-container-low: #eff4ff;
  --color-surface-tint: #006a61;
  --color-inverse-primary: #6bd8cb;
  --color-outline: #6d7a77;
  --color-surface-container-highest: #d3e4fe;
  --color-primary-container: #008378;
  --color-on-error-container: #93000a;
  --color-on-tertiary-fixed: #191c1e;
  --color-on-tertiary-fixed-variant: #444749;
  --color-tertiary-fixed: #e0e3e5;
  --color-tertiary-fixed-dim: #c4c7c9;
  --color-outline-variant: #bcc9c6;
  --color-tertiary-container: #727577;
  --color-primary-fixed: #89f5e7;
  --color-on-secondary: #ffffff;

  --spacing-stack-sm: 8px;
  --spacing-gutter: 24px;
  --spacing-stack-md: 16px;
  --spacing-sidebar-width: 280px;
  --spacing-stack-lg: 32px;
  --spacing-margin-page: 32px;
  --spacing-base-unit: 8px;
}